$spacing: 8px;
$spacing-x2: $spacing * 2;
$spacing-x4: $spacing * 4;

$border-radius: 4px;

$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 24px;
$font-size-xl: 28px;
$font-size-xxl: 46px;