@import "~bootstrap/dist/css/bootstrap.min.css";

@import "variables";
@import "colors";

body {
    background: $grey-e;
}

.loading {
    font-size: $font-size-s;
    color: $grey-9;
    padding: $spacing-x2;
}