@import "~bootstrap/dist/css/bootstrap-reboot.min.css";
@import "~bootstrap/dist/css/bootstrap-grid.min.css";

@import "variables";
@import "colors";

body {
    background: $grey-e;
}

.btn {
    border: none;
    color: white;
    background: $blue;
    font-size: $font-size-s;
    text-align: center;
    display: block;
    width: 100%;
    border-radius: $border-radius;
    padding: $spacing;
}