@import "../variables";
@import "../colors";

.detail-page {
    padding-top: $spacing-x4;

    .item-image {
        max-width: 680px;
        min-height: 680px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .sold {
        font-size: $font-size-xs;
        margin-bottom: $spacing-x4;
        color: $grey-3;
    }

    .title {
        font-size: $font-size-l;
        line-height: 1.1em;
        color: $grey-3;
        margin-right: $spacing-x4;
        margin-bottom: $spacing-x4;
    }

    .price {
        font-size: $font-size-xxl;
        margin-bottom: $spacing-x4;
        color: $grey-3;

        .decimals {
            font-size: 0.6em;
            position: relative;
            bottom: .6em;
            left: -.5em;
        }
    }

    .buy {
        margin-right: $spacing-x4;
    }

    .description {
        h2 {
            font-weight: normal;
            font-size: $font-size-xl;
            margin-left: $spacing-x4;
            margin-bottom: $spacing-x4;
            color: $grey-3;
        }
        
        p {
            font-size: $font-size-s;
            margin-left: $spacing-x4;
            margin-bottom: $spacing-x4;
            color: $grey-3;
        }
    }

    @media (max-width: 576px) {
        .item-image {
            background-size: contain;
            width: 100%;
            height: auto;
            min-height: 280px;
        }

        .sold {
            margin-bottom: $spacing-x2;
        }

        .title {
            margin-right: 0;
            margin-bottom: $spacing-x2;
        }

        .buy {
            margin-right: 0;
        }

        .description {
            margin-top: $spacing-x4;

            h2 {
                margin-left: 0;
                font-size: $font-size-l;
            }

            p {
                margin-left: 0;
                font-size: $font-size-xs;
                line-height: 1.2em;
                word-break: break-word;
            }
        }
    }
}

