@import "../variables";
@import "../colors";


.results-list-item {
    display: flex;
    flex-direction: row;
    padding: $spacing-x2;
    text-decoration: none;
    color: $grey-3;

    &:hover {
        text-decoration: none;
        color: inherit;
    }

    
    .item-image {
        width: 180px;
        height: 180px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: $border-radius;
        margin-right: $spacing-x2;
    }

    .info {
        max-width: 50%;
        .price {
            font-size: $font-size-l;
            margin-bottom: $spacing-x4;
            display: flex;
            align-items: center;

            .decimals {
                font-size: $font-size-s;
                position: relative;
                bottom: .25em;
                left: 0;
            }
        }

        .title {
            font-size: $font-size-m;
        }
    }

    .location {
        font-size: $font-size-xxs;
        color: $grey-9;
        margin-left: auto;
        width: 15%;
    }

    .free-shipping {
        width: 18px;
        margin-left: $spacing-x2;
    }
}